*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header{
    padding: 3rem 0;
}
#header .header-center a:hover{
    color: blue;
 
}
#header .header-right a:hover{
 bottom: 2px;
}
   
   
.header-center a{
    font-size: 18px;
    margin-left: 30px;
    text-decoration: none;
   color: #343f52;
    font-weight: 700;
}
.header-right{
    width: 15%;
   
}



.header-left{
    width: 24%;
}
.header-center{
    width: 56%;
}
.header-right a{
   cursor: pointer;
    text-align: center;
    margin-left: 0px;
    text-decoration: none;
    border: 1px solid rgb(35, 35, 49);
    border-radius: 50px;
    padding: 12px 23px;
    transition: 0.4s;
     background-color: #3f78e0;
     font-size: 16px;
     font-weight: 600;
    color: white;
    position: relative;
    transition: 1.8s;
}
#select{
    margin-right: 20px;
 
}
#Customer{
    padding: 5rem 0;
}
.customer-left{
    margin-top: 80px;
}
.customer-left h1{
    color: rgb(75, 67, 67);
    font-size: 50px;
    line-height: 1.1;
    font-family: "DM Serif Display";
    font-weight: bold;
    word-spacing: normal !important;
    letter-spacing: normal !important;
}
.customer-left h4{
    font-size: 25px;
    margin-top: 20px;
    opacity: 0.7;
    margin-bottom: 50px;
}
.customer-left a{
    text-decoration: none;
    padding: 15px 30px;
    border: 1px solid blue;
    border-radius: 50px;
    background-color: #3f78e0;
    font-weight: bold;
    color: white;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    transition: 0.7s;

}
.customer-left a:hover{
  bottom: 2px;
  background-color:blue !important;
  color: white !important;
}
/* .customer-left .free:hover{
  background-color:blue !important;
  color: white !important;
} */
  
.free{
    text-decoration: none;
    margin-left: 10px;
    padding: 15px 15px;
    border: 1px solid blue;
    border-radius: 50px;
    background-color:white !important;
    color: blue !important;
    font-weight: bold;
    opacity: 0.5 !important;
    font-size: 18px !important; 
}
.customer-right img{
    border-radius: 10px;
    width: 100%;
}
#brend{
    padding: 3rem 0;
}
.brend-img img{
    width: 58%;
}
.brend-img{
    margin-left: 30px;
}
#Service{
    padding: 3rem 0;
}
#Service .service-center{
    text-align: center;
}
#Service .box{
margin-top: 50px;
transition: 0.8s;
}
#Service .box a:hover{
    text-decoration: underline;
}
#Service .box-top{
    text-align: center;
}
#Service .box-top i{
    font-size: 20px;
    border: 1px solid blue;
    padding: 10px 10px;
    color: white;
    background-color: blue;
    border-radius: 100px;
    
    
   
}

#Service .box-bottom h2{
    font-size: 18px;
    margin-top: 20px;
    
    text-align: center;
}

#Service .box-bottom p{
    font-size: 15px;
    margin-top: 20px;
    
    text-align: center;
}

#Service .box-bottom a{
    font-size: 17px;
    margin-top: 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}
.works-right{
    margin-top: 50px;
}
.works-left img{
    width: 100%;
    border-radius: 10px;
}
.works-right{
   text-align: center;
   
}
.works-right h2{
    font-size: 40px;
    margin-bottom: 20px;
}
.repair-span1{
    margin-left: 38px;
    
    border: 1px solid rgb(91, 83, 83);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: #3f78e0;
    position: relative;
}
.position{
    position: absolute;
    top: 15%;
    left: 38%;
    color: white;
}
.how-works{
   width: 75%;
}


.repair-span3{
    margin-left: -9px;
    
    position: relative;
    border: 1px solid rgb(91, 83, 83);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: #3f78e0;
}

    
    
.works-right h5{
    margin-bottom: 40px;
    font-size: 23px;
    opacity: 0.6;
    font-weight: 500;
}
.span-pieces{
    display: flex;
    justify-content: center;
    text-align: left;
}

.span-pieces .repair-span{
    
    position: relative;
    border: 1px solid rgb(91, 83, 83);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: #3f78e0;
}
.works-right span{
    margin-left: 30px;
}
#Projects .service-center{
    text-align: center;
    margin-bottom: 30px;
}
#Projects .box img{
    width: 100%;
    border-radius: 10px;
}

#Projects{
    padding: 6rem;
}

#Projects h1{
    font-size: 40px;
    font-weight: bold;
    opacity: 0.8;
}

#Projects h6{
    opacity: 0.4;
}

#Company{
    padding: 3rem 0;
    text-align: center;
}
#Company .edith6{
    width: 51%;
    opacity: 0.4;
}

#Company .edith2{
width: 112%;
margin-top: 10px;
margin-bottom: 30px;
} 
#Company .company-right p{
    
   margin-left: 30px;
   margin-bottom: 40px;
}
#Company .pieces{
    margin-left: 60px;
    width: 100%;
}

#Company .pieces i{
    color: rgb(202, 202, 230);
}

#Company .edith2 h2{
   
    font-size: 38px;
    opacity: 0.8;
}
#Peoples{
    padding: 3rem 0;
}
#Peoples .man img{
    width: 100%;
}
#Peoples .peoples-left h5{
    opacity: 0.4;
    font-size: 17px;
}

#Peoples .peoples-left h2{
   margin-bottom: 25px;
    font-size: 34px;
    color: #343f52;
}

#Peoples .peoples-left p{
   
     font-size: 16px;
     color: #60697b
 }
 
#Peoples .peoples-left button{
   
   padding: 15px 30px;
   border: 1px solid blue;
   border-radius: 50px;
   background-color: #3f78e0;
   color: white;
   font-weight: bold;
   margin-top: 10px;
   transition: 0.4s;
}
#Peoples .peoples-left button:hover{
    transform: translateY(-4px);
}
#Peoples .peoples-right img{
    width: 90%;
    border-radius: 100px;
}
#Peoples .peoples-right{
    text-align: left;
}
#Peoples .man{
    margin-left: 40px;
}

#Peoples .peoples-right h4{
    text-align: center;
    font-size: 20px;
    color: #343f52;
    margin-top: 20px;
    margin-right: 30px;
}

#Peoples .peoples-right p{
    text-align: center;
    font-size: 15px;
    opacity: 0.5;
    font-weight: bold;
    color: #343f52;
    margin-right: 30px;
 
}
#Peoples i:hover{
    transform: translateY(-6px);
}

#Peoples .peoples-right h6{
    text-align: center;
    font-size: 17px;
   
  
    color: #343f52;
    margin-right: 30px;
}
#Peoples .peoples-right .editi{
    width: 50%;
    margin: auto;
}
#Peoples .peoples-right i{
    margin-left: 10px;
    color: #3f78e0;
    transition: 0.4s;
}
  

#Peoples .peoples-right i{
    text-align: center;
}
   
   
#Woman{
    padding: 3rem 0;
    
}
#Woman .woman-left img{
    width: 75%;
    
}
#Woman .all{
    display: flex;
}
#Woman .woman-left{
  text-align: center;
}
.woman-right{
   margin-top: 200px;
    margin-left: -30px;
    
}
.woman-right .editi{
    width: 70%;
    margin-bottom: 30px;
    text-align: center;
    font-size: 11px;
    color: rgb(235, 182, 38);
}

.woman-right h4{
    opacity: 0.7;
    font-size: 20px;
    margin-left: 40px;
   line-height: 1.7;
   margin-bottom: 20px;
}

.woman-right h6{
    text-align: center;
   width: 70%;
   font-size: 18px;
}

.woman-right p{
    font-size: 14px;
  text-align: center;
  width: 70%;
  opacity: 0.5;
}

footer{
    padding: 6rem 0;
}
footer .editp{
    margin-top: 20px;
}
footer i{
    margin-left: 8px;
    display:  block;
    transition: 0.4s;
}
footer i:hover{
    transform: translateY(-6px);
}
footer p{
    font-size: 20px;
   color: #343f52;
   font-weight: bold;
}
footer h6{
    font-size: 16px;
    letter-spacing: 0.2vh;
    opacity: 0.9;
    margin-bottom: 15px;
}
footer a{
    display: block;
    margin-top: 7px;
    text-decoration: none;
    color: #343f52;
}
footer h5{
    font-size: 17px;
    color: #60697b;
    margin-bottom: 20px;
}
.editinput{
    display: flex;

}
.editinput .number1{
    padding: 12px;
}

.editinput .number2{
    padding: 10px 30px;
}
    

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
    #Customer{
        width: 650px;
    }
    .customer-right img{
        width: 100%;
    
        margin-top: 60px;
        
    }
    .customer-left{
     text-align: center;
    }
    #brend{
        width: 600px;
    }
    #brend img{
        width: 100%;
        margin-top: 30px;
    }
    #Service{
        width: 600px;
    }
    #Works{
        width: 650px;
    }
    #Works .works-right{
        text-align: left;
    }
    #Works .span-pieces{
       width: 500px;
       text-align: left;
    }
    #Projects .service-center{
        width: 500px;
        text-align: center;

    }
    #Projects{
        width: 650px;
    }
    #Projects img{
        width: 100%;
        margin-top: 50px;
    }
    #Company{
        text-align: left;
    }
    .company-pieces span{
        display: block;
        width: 100%;
    }
    #Peoples{
        width: 650px;
        padding: 3rem 0;
    }
    #Peoples .man img{
     border-radius: 100px;
    }
    #Peoples .peoples-left button{
        margin-bottom: 40px;
    }
     
    #Peoples .editi {
      text-align: center;
    }
    #Woman img{
        display: none;
    }
    #Woman{
       width: 600px;
     text-align: center;
    }
    #Woman .editi{
      width: 650px;
    }
    #Woman .woman-right h6{
       width: 650px;
    }
    
    #Woman .woman-right p{
        width: 650px;
     }
 }

        
     
    
    
     
    